<<<<<<< HEAD
<h1>Show Fabulous Foods</h1>
=======
<h1>Listing Delicious Foods</h1>
>>>>>>> 5ee8a1781900e074f1c6eccf179ec0974edb94b3

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Instructions</th>
      <th>Minutes to Prepare</th>
      <th>Minutes to cook</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.instructions %></td>
        <td><%= recipe.minutes_to_prepare %></td>
        <td><%= recipe.minutes_to_cook %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
